{% include 'head.njk' %}

<body>
    <header>
        <h1>Hola, bebe que m&aacute;s? de esa finca vos no te acord&aacute;s, la vuelta es que no aguanto m&aacute;s</h1>
    </header>

    {% block content %}{% endblock %}

    <footer>
        &copy; 2024, David Fonsek
    </footer>
</body>